.header__lang-link {
  font-family: 'Inter', arial, sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.11;
  margin-right: 18px;
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link:hover {
  text-decoration-line: underline;
  opacity: .8;
  transition: opacity .3s linear;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
  }
}
/* проверить fon-size */
