.place__paragraph {
  max-width: 484px;
  min-height: 116px;
  margin: 48px 0 0 40px;
  font-family: 'Inter', arial, sans-serif;
  font-style:  normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  color: #fff;
}

.place__paragraph:nth-of-type(2n){
  margin-top: 26px;
}
