.place__website_url-heading {
  font-family: 'Inter', arial, sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #aaa;
  letter-spacing: .2em;
  margin: 0 0 12px 0;
  align-self: self-start;
  min-height: 12px;
}
