.place__website-link {
  font-family: 'Inter', arial, sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  opacity: 1;
  margin: 0;
}

.place__website-link:hover {
  opacity: .8;
  transition: opacity .3s linear;
}
