.cover {
  max-width: 92.5%;
  min-height: 740px;
  margin: 92px auto 0;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  object-position: center;
  display: flex;
  flex-direction: column;
}
