.place__website {
  max-width: 46.34%;
  min-height: 46px;
  margin-left: 40px;
  align-self: flex-end;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__website {
    margin-left: 32px;
  }


}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    margin-left: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__website {
    margin: 32px auto 0;
    max-width: 90%;
    width: 100%;
  }
}
