.intro__title {
  max-width: 690px;
  min-height: 58px;
  font-family: 'Inter', arial, sans-serif;
  font-style:  normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #fff;
  margin: 0;
}
